/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 56px;
  }

  .class .tooltip-inner {
    background: none;
  border-radius: 0.25rem;
  text-align: left;
  width: 10.5rem;
  z-index: 10;

  }
  .class .arrow::before {
    border-top-color:none;
    box-shadow: transparent;
  }

  .tooltip::after {
    z-index: 1;
  }