<h1 class="my-4">
    <small>({{books.length}}) books found</small>
</h1>
<form>
    <div class="from row">
        <div class="form-group col  ">
            <input type="email" class="form-control" placeholder="Search for anything" name="content" id="content"
                rows="3">

        </div>
    </div>
    <div class="from row">
        <div class="form-group col">
            <input type="email" class="form-control" placeholder="Author" name="author" id="author" rows="3">
        </div>
        <div class="form-group col">
            <input type="email" class="form-control" placeholder="Subject" name="issueID" id="issueID" rows="3">
        </div>
        <div class="form-group col">
            <input type="email" class="form-control" placeholder="Editor" name="editor" id="editor" rows="3">

        </div>
    </div>
    <a class="btn btn-secondary" data-toggle="collapse" href="#addIssue" role="button" aria-expanded="false"
        aria-controls="addIssue">Go!</a>
</form>
<div>
    <hr>
    <div class="row justify-content-center">
        <div *ngFor="let book of books" style="margin-bottom: 5%;" class="col-md-3">
            <div class="card">
                <img style="width: 100%;height: 50%;" *ngIf="book?.volumeInfo?.imageLinks?.thumbnail !== undefined"
                    src="{{book?.volumeInfo?.thumbnail}}" class="card-img-top" alt="...">
                <img style="width: 100%;height: 50%;" *ngIf="book?.volumeInfo?.thumbnail == undefined"
                    src="https://previews.123rf.com/images/ahasoft2000/ahasoft20001806/ahasoft2000180605137/102524627-question-mark-mosaic-created-from-gear-integration-components-vector-gear-integration-icons-are-grou.jpg"
                    class="card-img-top" alt="...">
            </div>
        </div>

    </div>
    <hr>