<h5 class="my-3" style="font-weight: bold;">{{shelf?.name | titlecase }}</h5>
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="filterContent" [ngModel]="filterContent" (ngModelChange)="filterBooks($event)"
                    class="form-control" id="formGroupExampleInput" placeholder="Filter by title or author">
            </div>
        </div>
    </div>
</form>
<div *ngFor="let book of books" class="card mb-3">
    <div class="row">
        <div class="col-md-2"><img routerLink="/books/{{book?.id}}"
                style="min-width: 105px;max-width: 90px;min-height: 100%;max-height: 100%;cursor: pointer;"
                src="{{book?.book?.volumeInfo?.thumbnail}}" class="card-img-top" alt="..."></div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{book?.book?.volumeInfo?.title}}</h5>
                <h6>Authors: {{book?.book?.volumeInfo?.authors.join(',')}}</h6>
                <h6>Read pages: {{book?.numberOfReadPages}} of {{book?.book?.volumeInfo?.pageCount}}</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                        [ngStyle]="setProgress(book.numberOfReadPages,book.book.volumeInfo.pageCount)"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center" style="height: 100%; align-items: center;">
                <div class="col-md-10">
                    <button style="width: 100%;" type="submit" data-toggle="modal" data-target="#setPagesModal"
                        class="btn btn-info mb-1"
                        (click)="setIDToUpdate(book?.numberOfReadPages,book?.book?.id,book?.book?.volumeInfo?.pageCount)">Read
                        pages</button>
                    <div class="dropdown">
                        <div *ngIf="waitForMove && book?.book?.id === movedBook; else elseBlock">
                            <button style="width: 100%;" class="btn btn-success dropdown-toggle mb-1" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span> Loading...</button>
                        </div>
                        <ng-template #elseBlock>
                            <button style="width: 100%;" class="btn btn-success dropdown-toggle mb-1" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Move to shelf
                            </button>
                        </ng-template>
                        <button style="width: 100%;" data-toggle="modal" (click)="setIDTodelete(book?.book?.id)"
                            data-target="#deleteBookModal" type="button" class="btn btn-danger mb-1">Delete</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let shelf of shelves" class="dropdown-item"
                                (click)="moveToShelf(shelf?._id,book?.book?.id)"
                                href="javascript:void(0)">{{shelf?.name | titlecase}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this book from the shelf ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="deleteBookFromShelf()" data-dismiss="modal"
                    class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="setPagesModal" tabindex="-1" role="dialog" aria-labelledby="setPagesModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="formGroupExampleInput">Read pages</label>
                    <input [(ngModel)]="readPages" type="number" class="form-control" id="formGroupExampleInput"
                        value="0">
                </div>
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" (click)="updateReadPages()"
                    data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>