<div class="row">
    <div class="col-md-4">
        <h5 class="my-3" style="font-weight: bold;">My shelves</h5>

        <form #newShelf="ngForm" (ngSubmit)="createShelf(newShelf)">
            <div class="form-group">
                <div class="row justify-content-left align-items-center">
                    <div class="col-md-9">
                        <input type="text" style="width: 100%;" class="form-control" [(ngModel)]="shelfName" name="name"
                            id="name" placeholder="Add a new shelf">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn"><i style="font-size: 28px; color: #008cba;"
                                class="fa fa-plus-circle"></i></button>
                    </div>

                </div>
            </div>
        </form>
        <label style="color: red;" *ngIf="validationError">Name must be between 3 and 32
            caracters</label>
        <label style="color: red;" *ngIf="errorMessage">{{errorMessageContent}}
        </label>
        <ul class="list-group">
            <li *ngFor="let shelf of shelves" routerLinkActive="active-shelf"
                style="border-style: none; border-bottom-style: solid;"
                class="list-group-item d-flex justify-content-between align-items-center">
                <a href="javascript:void(0)" routerLink="{{shelf?._id}}">{{shelf.name | titlecase}}
                    <span style="font-weight: bold; float: left; margin-right: 5pt; padding-left: 2pt;"
                        class="badge badge-primary badge-pill">{{shelf?.books.length}}</span>
                </a>
                <span *ngIf="!['read','to read','reading'].includes(shelf?.name)" style="cursor: pointer;"
                    (click)="setIDtoDelete(shelf._id)" data-toggle="modal" data-target="#exampleModal"
                    class="badge badge-danger badge-pill"><i class="fa fa-times"></i></span>
            </li>
        </ul>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this shelf ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" (click)="deleteShelf()" data-dismiss="modal"
                            class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!--<h3 class="my-4">
            <small>My shelves</small>
        </h3>-->
        <router-outlet></router-outlet>

    </div>
</div>