<h1 class="my-4">
    <small>My shelves</small>
</h1>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Currently reading</a>
        <span class="badge badge-danger badge-pill"><i class="fa fa-times"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Read</a>
        <span class="badge badge-danger badge-pill"><i class="fa fa-times"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">read later</a>
        <span class="badge badge-danger badge-pill"><i class="fa fa-times"></i></span>
    </li>
</ul>