<div *ngIf="waiting == true; then block else elseBlock"></div>
<ng-template #block>
    <div class="row justify-content-center" style="align-items: center;height: 50%;">
        <div class="spinner-grow text-primary" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" style="width: 3rem;height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <br>
    <div class="row justify-centent-center">
        <div class="col-md-3">
            <img style="width: 100%;height: 300px;" src="{{book?.volumeInfo?.thumbnail}}" class="card-img-top"
                alt="...">
            <div class="dropdown row justify-content-center mt-2">
                <button class="btn btn-success" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    + Add to shelf
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
            <h6 style="text-align: center;">Recommended</h6>
        </div>
        <div class="col-md-9">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">{{book?.volumeInfo?.title}}</h4>
                    <h6> <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></h6>
                    <h6>Author(s): {{book?.volumeInfo?.authors?.join(',')}}</h6>
                    <h6>Publisher: {{book?.volumeInfo?.publisher}}</h6>
                    <h6>{{book?.volumeInfo?.description}}</h6>
                </div>
            </div>
            <br>
            <h6>Write a review:</h6>
            <form>
                <div class="form-group">
                    <textarea style="resize: none;" class="form-control" placeholder="Write a review ..." id="exampleFormControlTextarea1"
                        rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </form>
            <br>
            <h6>Reviews:</h6>
            <div class="card">
                <div class="card-header">
                    <h6> <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></h6>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h6> <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></h6>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h6> <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></h6>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <br>
        </div>
    </div>
</ng-template>